@* @model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model ?? Enumerable.Empty<Movie>())
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.ImageUrl" alt="@item.Name" style="max-width: 150px;" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div> *@
@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
    @foreach (var item in Model ?? Enumerable.Empty<Movie>())
        {
            @if(item!=null)
        
    {
                <div class="col-md-4 col-xs-6 border-primary mb-3">
                    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-12">
        <div class="card-header text-white bg-info">
        <p class="card-text">
            <h5>
        @item.Name
        <a class="text-white float-right"><i class="bi bi-pencil-square"></i></a>
        </h5>
        </p>
        </div>
            </div>
            <div class="col-md-6" >
        <img src=@item.ImageUrl alt=@item.Name width="100%">
            </div>
            <div class="col-md-6">
        <div class="card-body">
            <p class="card-text">@item.Description</p>
            <p class="card-text"><b>Cinema:</b>@item.Cinema.Name</p>
            <p class="card-text"><b>Category:</b>@item.MovieCategory</p>
            <p class="card-text"><b>StartDate:</b>@item.StartDate</p>
            <p class="card-text"><b>EndDate:</b>@item.EndDate</p>
            <p class="card-text"><b>Status:</b>@if(DateTime.Now >=item.StartDate && DateTime.Now <=item.EndDate)
            {
                <span class="badge bg-success text-white">AVAILABLE</span>
            }else if(DateTime.Now > item.EndDate)
            {
                <span class="badge bg-danger text-white">Expired</span>
            }
            else{
                <span class="badge bg-success text-white">UPCOMING</span>
            }
            </p>
        </div>
            </div>
            <div class="col-md-12">
                <div class="card-footer d-flex justify-content-end">
        <a class="btn btn-outline-primary me-auto ms-0"><i class="bi bi-eye-fill"></i> Show Details</a>
        <a class="btn btn-success text-white ms-auto me-0"><i class="bi bi-cart-plus"></i> Add To Cart (price @item.Price.ToString("c"))</a>
    </div>
            </div>
        </div>
                    </div>
                    </div>
    }
        }
</div>

